body {
    background-color: rgb(255, 216, 131);
    user-select: none;
}
h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #e7269a;
    text-align: center;
    margin: 10px;
    background-color: #fffce6;
    border: 5px dotted #fb3c3c;
}
button {
    text-align: center;
    margin: 10px;
}
.mainclick {
    padding: 3px 10px 3px 10px;
}
.mainclick:hover {
    cursor: pointer;
}
.content {
    text-align: center;
    margin: 300px 10px 10px 10px;
}